:root{
    --border-radius:12px
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@mixin caret-down {
    border-top: $caret-width solid;
    border-right: $caret-width solid transparent;
    border-bottom: 0;
    border-left: $caret-width solid transparent;
  }
  
  @mixin caret-up {
    border-top: 0;
    border-right: $caret-width solid transparent;
    border-bottom: $caret-width solid;
    border-left: $caret-width solid transparent;
  }
  
  @mixin caret-end {
    border-top: $caret-width solid transparent;
    border-right: 0;
    border-bottom: $caret-width solid transparent;
    border-left: $caret-width solid;
  }
  
  @mixin caret-start {
    border-top: $caret-width solid transparent;
    border-right: $caret-width solid;
    border-bottom: $caret-width solid transparent;
  }
  
  @mixin caret($direction: down) {
    @if $enable-caret {
      &::after {
        display: inline-block;
        margin-left: $caret-spacing;
        vertical-align: $caret-vertical-align;
        content: "";
        @if $direction == down {
          @include caret-down();
        } @else if $direction == up {
          @include caret-up();
        } @else if $direction == end {
          @include caret-end();
        }
      }
  
      @if $direction == start {
        &::after {
          display: none;
        }
  
        &::before {
          display: inline-block;
          margin-right: $caret-spacing;
          vertical-align: $caret-vertical-align;
          content: "";
          @include caret-start();
        }
      }
  
      &:empty::after {
        margin-left: 0;
      }
    }
  }
@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


::-webkit-scrollbar {
  width: 12px; /* largura do scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 221, 255);
  border-radius: 6px;
}

body {
  display: flex;
  font-family: inter;
  flex-direction: column;
  max-width: 100vh;
  background-color: #ffffff;
  transition: background 1s;
  margin: 0;
  overflow: auto;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 2.8rem;
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  padding: 7px 0;
  z-index: 1000; 
}
 div {
  display: block;
}
ul{
  display: inline-block;
}
.container{
    position: absolute;
    display:flex;
    align-content: flex-start;
    gap:140px;
    width: 100%;
}

li {
    display: inline-block;
    margin: 2px 0 0 15px;    
    text-decoration: none;
}
a{
    color:#ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 0;
}
ul{
    list-style-type: none;
}
 .logo{
    margin: 0px 45px;
    display: flex;
    font-size: 30px; 
    align-items: center;
    font-family: jolly lodger;
    align-content:flex-start;
    height: 30px;
    text-decoration: none;
 }
.logo img{
    padding: 0;
    width: 35px;
    height: 35px;
    filter: invert(100%);
 }
 .logo-text{
  display: block;
  text-decoration: none;
  color: rgb(0, 221, 255);
}
.font-header{
    flex-shrink: 0;
    color: #ffffff;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
    background-color: transparent;
    border: none;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
}
.search{
    margin-top: 2px;
    display: block;
    padding: 11px;
    align-items: center;
    text-align: center;
    width: 15rem;
    height: 1.1rem;
    border-color:rgb(0, 221, 255);
    border-radius: 5rem;
    background: rgba(255, 254, 254, 0.3);
}
select {
  /* Estilização da seta */
  appearance: none; 
  -webkit-appearance: none; 
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: right center; 

  /* Outras propriedades de estilo */
  padding: 8px;
  border: none;
  border-radius: 5px;
}
.btn-search{
    border: none;
    background-color: transparent;
}

.font-button-mode{
    display: inline-block;
    padding: 0px;
    color: #ffffff;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight:60;
    line-height: normal;
    text-decoration: none;
    border: none;
    text-transform: uppercase;
}

.button{
  display: inline-block;
  padding: 0;
  margin: 3px 0 0px 5px;
  position:fixed;
  width: 45px;
  height: 20px;
  border-radius:25px;
  background-color:#ffffff;
  cursor: pointer;
}
.ball{
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid rgb(0, 221, 255);
  border-radius: 50px;
  background-color: rgb(73, 73, 73) ;
  transition: left 1s;
  outline:none;
}
.ball-move{
  left: calc(100% - 20px);
}
.dark{
  background-color: #181818;
}

.main-container {
  display: flex; 
  justify-content: space-between;
  position: absolute;
}
.Tracos{
  width: 15rem;
  padding: 0;
  height: 3px;
  background-color: #000000;
  transition: color 1s;

}

.alfabeto{
  background-color: #000000;
  color: #ffffff;
  font-weight:bold;
  border: black solid 1px;
  margin: 0px 0 20px 0;
  padding: 0;
  align-items: center;
  border-color: none;
}
.generos{
  background-color: #000000;
  color: #ffffff;
  font-weight:bold;
  border: black solid 1px;
  margin: 0px 0 20px 0;
  padding: 0;
  align-content: center;
  align-items: center;
  border-color: none;
}
// seçao ultimos eps
.traco-title-eps{
  margin: 0 0 20px 0px;
}
.fonts-title-eps{
  color: #000000;
  font-family: Inter;
  text-transform: uppercase;
  font-size: 14px;  
  font-style: normal;
  margin: 0;
}
.box-title {
  margin: 10px 0 0px;
  font-size: 14px;  
  text-align: center; 
}
.container-box{
  margin: 0 0 0 0px;
  padding: 0;
}

.itens-box2{
  display: block;
  justify-content:space-around;
  margin: 0px 20px 15px 0px;
  width: 200px;
  height: 150px;
  background-color: rgb(166, 166, 166);
  align-items: center;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #000000;  
}
.episodios-recentes {
  width:calc(100% - 10px);
  height: 10rem;
  display: flex;
  position:relative;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:flex-start;
  gap: 30px 10px;
}
h4{
  color: #000000; 
  font-family: Arial, Helvetica, sans-serif; 
  font-style: normal;
  font-weight: 500;
  padding: 0;
  margin: 0;
}
.container-episodios {
  width: 100%;
  max-width: 70rem; 
  margin: 70px 40px;
  padding: 0;
  top: 10rem;
  position: relative;
  order: 1;
  z-index: 100;
}
// seção ultimos lançamentos

.itens-box {
  transition: transform 0.2s;
  display: block;
  margin: 0 12px;
  min-width: 110px;
  min-height: 145px;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 5px;
  box-shadow: 1px 1px 3px #000000;  
  justify-content: center;
  flex: 0 0 auto;
}

.highlights.arrastavel {
  overflow:hidden;
}

.highlights.arrastavel div {
  white-space: nowrap;
  display: inline-block;
}

#arrastavel {
  position:relative;
  width: 250%;
}

.highlights{
  box-sizing: border-box; 
  order: 1;
  width: 100%;
  display: flex;
  background-color: rgb(0, 0, 0) ;
  position:relative;
  justify-content: flex-start;
  align-items: center;
  bottom: 0;
  margin: 45px 0 0 0px ;
  padding: 7px 0;
  overflow: hidden;
  display: flex;
}

// seção mais vistos
.container-maisVistos{
  position: absolute;
  top: 9.2rem;
  margin: 50px 20px;
  bottom: 0;
  left: 93%;
  z-index: 10;
  width: calc(20% - 10px);
  justify-content:flex-end;
  display: flex;
  padding: 7px;
  flex-wrap:wrap;
  flex-direction: row;
  order: 3 ;  
  align-items: center;
}
.maisVistos {
  display: flex;
  justify-content:flex-end;
  flex-direction: row;
  position: relative;
  flex-wrap: wrap;
  margin:70px 0 0 0;
  gap: 10px; /* Espaço entre as caixas */
}
.itens-box3 {  
  display:block;
  position: relative;
  width: 110px;
  height: 135px;
  background-color: rgb(166, 166, 166);
  border-radius: 5px;
  box-shadow: 1px solid #000000;
  justify-content:space-around;
  margin: 0px 5px 10px 0px;
  align-items: center;
  box-shadow: 1px 1px 3px #000000;  
}
.titulo-maisVistos {
  position: absolute; 
  top: 30px; 
  margin: 0;
}
.traco-title-maisVistos{
  margin: 0px 0 20px 15px;
}
.fonts-title-maisVistos{
  color: #000000;
  font-family: Inter;
  text-transform: uppercase;
  display: flex;
  font-size: 14px;  
  font-style: normal;
  margin:0 0 0 15px;
}


/* Estilos para telas médias (tablets) */
@media (min-width: 769px) and (max-width: 1550px) {
  .itens-box {
    min-width: 86px;
    min-height: 130px;
  }
  .titulo-destaques{
    margin:220px 0 0 45px;
  }
  .container{
    gap:6rem;
}
.itens-box{
  min-width: 110px;
  min-height: 145px;
}
.episodios-recentes {
  width: 90%;
}
.container-episodios {
  margin: 70px 45px;
}
.titulo-destaques{
  margin:80px 0 0 45px;
}
.itens-box2{
  width: 190px;
  height: 120px;
}
.itens-box3{
  align-items: center;
  align-content: center;
  width: 95px; 
  right: 35px;
  margin:auto;
  flex-wrap: wrap;
}

}

